@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Raleway:wght@400;500&display=swap');

.ui.header.logo-text,
.ui.message.banner .header {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.ui.header.title,
.ui.menu .item {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.ui.menu .item {
	font-size: 1.2em;
}

.ui.card.box > .content > .header,
.ui.card .meta,
.ui.button.basic.green.button.add-button,
.ui.button.basic.red.button.remove-button,
.ui.input.search-bar > input,
.ui.message.banner p,
.error {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
}

.container {
	padding: 2em;
}

.card-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	justify-content: space-around;
}

.ui.card.movie-card,
.ui.card.movie-card:first-child,
.ui.card.movie-card:last-child {
	margin: 1em;
}

.error {
	color: red;
	margin: 1em 0em 1em 0em;
}
